<div class="row">
	<div class="col-lg-12">
		<h5 class="page-header">
			<i class="fa fa-home fa-fw"></i>
			<a ui-sref="patientList">数据管理</a>
			<i class="fa fa-angle-right  fa-fw"></i>
			数据录入
		</h5>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-primary">
		<!--panel-heading-->
		<div class="panel-heading">
			<h5 class="widget-title bigger lighter">
				<i class="ace-icon fa fa-table"></i> 新增患者
			</h5>
		</div>
		<!--panel-body-->
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12" style="padding:0px;">
					<div id="formEdit" class="ng-scope">
						<div class="widget-box widget-color-blue2 ng-scope">
							<div class="widget-header">
							</div>
							<div class="widget-body">
								<div class="widget-main">

									<form name="patientForm" class="form-horizontal col-sm-offset-2 ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength">

										<div class="form-group" ng-class="patientForm.module.$dirty &amp;&amp; patientForm.module.$invalid?'form-group has-error':'form-group'">
											<label for="module" class="col-sm-2 control-label">疾病模块</label>
											<div class="col-sm-6">
												<input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" id="module" placeholder="疾病模块" name="module" ng-model="patient.module" ng-maxlength="50" required="" disabled>
												<div class="error ng-active ng-hide" ng-messages="patientForm.module.$error" ng-show="patientForm.module.$dirty &amp;&amp; patientForm.module.$invalid">
													<!-- ngMessage: required --><div ng-message="required" class="ng-scope">必须填写</div>
												</div>
											</div>
										</div>

										<!--<div class="form-group" ng-class="patientForm.binglihao.$dirty &amp;&amp; patientForm.binglihao.$invalid?'form-group has-error':'form-group'">-->
											<!--<label for="binglihao" class="col-sm-2 control-label">住院病历号</label>-->
											<!--<div class="col-sm-6">-->
												<!--<input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" id="binglihao" placeholder="住院病历号" name="binglihao" ng-model="patient.binglihao" required="">-->
												<!--<div class="error ng-active ng-hide" ng-messages="patientForm.binglihao.$error" ng-show="patientForm.binglihao.$dirty &amp;&amp; patientForm.binglihao.$invalid">-->
													<!--&lt;!&ndash; ngMessage: required &ndash;&gt;<div ng-message="required" class="ng-scope">必须填写</div>-->
												<!--</div>-->
											<!--</div>-->
										<!--</div>-->

										<div class="form-group" ng-class="patientForm.name.$dirty &amp;&amp; patientForm.name.$invalid?'form-group has-error':'form-group'">
											<label for="name" class="col-sm-2 control-label">患者姓名</label>
											<div class="col-sm-6">
												<input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" id="name" placeholder="患者姓名" name="name" ng-model="patient.name" required="">
												<div class="error ng-active ng-hide" ng-messages="patientForm.name.$error" ng-show="patientForm.name.$dirty &amp;&amp; patientForm.name.$invalid">
													<!-- ngMessage: required --><div ng-message="required" class="ng-scope">必须填写</div>
												</div>
											</div>
										</div>

										<div class="form-group" ng-class="patientForm.sex.$dirty &amp;&amp; patientForm.sex.$invalid?'form-group has-error':'form-group'">
											<label for="genderChange" class="col-sm-2 control-label">性别</label>
											<div class="col-sm-6">
												<select class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" id="genderChange" name="sex" ng-model="patient.sex" ng-options="value.name as value.name for value in genderList" ng-init="patient.sex='男'" required="">
												</select>
												<div class="error ng-active ng-hide" ng-messages="patientForm.sex.$error" ng-show="patientForm.sex.$dirty &amp;&amp; patientForm.sex.$invalid">
													<!-- ngMessage: required --><div ng-message="required" class="ng-scope">必须填写</div>
												</div>
											</div>
										</div>

										<div class="form-group" ng-class="patientForm.age.$dirty &amp;&amp; patientForm.age.$invalid?'form-group has-error':'form-group'">
											<label for="age" class="col-sm-2 control-label">年龄</label>
											<div class="col-sm-6">
												<input type="number" step="0.1" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength ng-valid-number" id="age" placeholder="年龄" name="ageyear" ng-model="patient.age" ng-maxlength="4" required="">
												<div class="error ng-active ng-hide" ng-messages="patientForm.age.$error" ng-show="patientForm.age.$dirty &amp;&amp; patientForm.age.$invalid">
													<!-- ngMessage: required --><div ng-message="required" class="ng-scope">必须填写</div>
												</div>
											</div>
										</div>

										<div class="form-group" ng-class="patientForm.hospital.$dirty &amp;&amp; patientForm.hospital.$invalid?'form-group has-error':'form-group'">
											<label for="hospital" class="col-sm-2 control-label">医院</label>
											<div class="col-sm-6">
												<input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" id="hospital" placeholder="医院" name="hospital" ng-model="patient.hospital" ng-maxlength="50" required="">
												<div class="error ng-active ng-hide" ng-messages="patientForm.hospital.$error" ng-show="patientForm.hospital.$dirty &amp;&amp; patientForm.hospital.$invalid">
													<!-- ngMessage: required --><div ng-message="required" class="ng-scope">必须填写</div>
												</div>
											</div>
										</div>

										<div class="form-group" ng-class="patientForm.department.$dirty &amp;&amp; patientForm.department.$invalid?'form-group has-error':'form-group'">
											<label for="department" class="col-sm-2 control-label">科别</label>
											<div class="col-sm-6">
												<input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" id="department" placeholder="科别" name="department" ng-model="patient.department" ng-maxlength="50" required="">
												<div class="error ng-active ng-hide" ng-messages="patientForm.department.$error" ng-show="patientForm.department.$dirty &amp;&amp; patientForm.department.$invalid">
													<!-- ngMessage: required --><div ng-message="required" class="ng-scope">必须填写</div>
												</div>
											</div>
										</div>

										<div class="form-group" ng-class="patientForm.chuanghao.$dirty &amp;&amp; patientForm.chuanghao.$invalid?'form-group has-error':'form-group'">
											<label for="chuanghao" class="col-sm-2 control-label">床号</label>
											<div class="col-sm-6">
												<input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-maxlength" id="chuanghao" placeholder="床号" name="chuanghao" ng-model="patient.chuanghao" ng-maxlength="50" required="">
												<div class="error ng-active ng-hide" ng-messages="patientForm.chuanghao.$error" ng-show="patientForm.chuanghao.$dirty &amp;&amp; patientForm.chuanghao.$invalid">
													<!-- ngMessage: required --><div ng-message="required" class="ng-scope">必须填写</div>
												</div>
											</div>
										</div>

										<div class="form-group">
											<div class="col-sm-offset-3 col-sm-2" style="text-align: right">
												<button class="btn btn-primary" ng-click="newPatient(patientForm.$invalid)">确定</button>
											</div>
											<div class="col-sm-1" style="text-align: right">
												<button class="btn btn-primary" ng-click="backToList()">返回</button>
											</div>
										</div>
									</form>

								</div>
							</div>
						</div></div>
				</div>
			</div>
		</div>
		<!-- /.panel-body -->
	</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
