<div class="row">
    <div class="col-lg-12">
        <h5 class="page-header">
            <i class="fa fa-home fa-fw"></i>
            <a ui-sref="patientList">数据管理</a>
            <i class="fa fa-angle-right  fa-fw"></i>
            数据录入
        </h5>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="projectSelect">
                    <div class="title">
                        疾病模块：
                    </div>
                    <div class="">
                        <select ng-model="moduleIndex" ng-options="idx as module.name for (idx, module) in moduleList" ng-change="changeList()" class="form-control">
                        </select>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="line-height: 34px;">病历列表</span>
                <div class="tools">
                    <a ng-click="toNewPatient()" class="btn btn-primary " ng-if="user.authority!=0"><i class="menu-icon fa fa-plus-square"></i> 新增患者</a>
                    <button ng-click="refresh()" class="btn btn-primary "><i class="fa fa-refresh" aria-hidden="true"></i> 刷新</button>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>医院</th>
                        <th>科别</th>
                        <th>床号</th>
                        <th>随机分组</th>
                        <th>状态</th>
                        <th>操作</th>
                        <th>操作记录</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="patient in patientList track by $index" >
                        <td>{{patient.binglihao}}</td>
                        <td>{{patient.name}}</td>
                        <td>{{patient.sex}}</td>
                        <td>{{patient.age}}</td>
                        <td>{{patient.hospital}}</td>
                        <td>{{patient.department}}</td>
                        <td>{{patient.chuanghao}}</td>

                        <!-- 随机分组 -->
                        <td>{{moduleList[moduleIndex]['group_'+patient.fenzu]}}</td>

                        <td ng-if="patient.status=='0'" style="font-weight: bold">编辑中</td>
                        <td ng-if="patient.status=='1'" style="color: rgb(51,122,183); font-weight: bold">审核中</td>
                        <td ng-if="patient.status=='2'" style="color: rgb(60,118,61); font-weight: bold">审核通过</td>
                        <td ng-if="patient.status=='-1'" style="color: rgb(169,68,66); font-weight: bold">审核未通过</td>

                        <!--普通人员-->
                        <td ng-if="user.authority==0">
                            <!--编辑状态 && 审核状态 && 审核通过 && 审核未通过-->
                            <a ng-click="patientView(patient.binglihao)" class="btn btn-primary btn-xs">查看</a>
                        </td>
                        <!--录入人员-->
                        <td ng-if="user.authority==1">
                            <!--编辑状态 && 审核未通过-->
                            <a ng-click="patientEdit(patient.binglihao)" ng-if="patient.status==0 || patient.status==-1" class="btn btn-primary btn-xs">编辑</a>
                            <a ng-click="deleteConfirm($index)" ng-if="patient.status==0 || patient.status==-1" class="btn btn-primary btn-xs">删除</a>
                            <a ng-click="auditApply(patient.binglihao)" ng-if="patient.status==0 || patient.status==-1" class="btn btn-primary btn-xs">提交</a>
                            <!--审核状态-->
                            <a ng-click="patientView(patient.binglihao)" ng-if="patient.status==1" class="btn btn-primary btn-xs">查看</a>
                            <a ng-click="auditBack(patient.binglihao)" ng-if="patient.status==1" class="btn btn-primary btn-xs">撤审</a>
                            <!--审核通过-->
                            <a ng-click="patientView(patient.binglihao)" ng-if="patient.status==2" class="btn btn-primary btn-xs">查看</a>
                        </td>
                        <!--审核人员-->
                        <td ng-if="user.authority==2">
                            <!--编辑状态-->
                            <a ng-click="patientView(patient.binglihao)" ng-if="patient.status==0" class="btn btn-primary btn-xs">查看</a>
                            <!--审核状态-->
                            <a ng-click="patientView(patient.binglihao)" ng-if="patient.status==1" class="btn btn-primary btn-xs">查看</a>
                            <a ng-click="auditPass(patient.binglihao)" ng-if="patient.status==1" class="btn btn-primary btn-xs">通过</a>
                            <a ng-click="auditFail(patient.binglihao)" ng-if="patient.status==1" class="btn btn-primary btn-xs">否决</a>
                            <!--审核通过-->
                            <a ng-click="patientView(patient.binglihao)" ng-if="patient.status==2" class="btn btn-primary btn-xs">查看</a>
                            <a ng-click="auditFail(patient.binglihao)" ng-if="patient.status==2" class="btn btn-primary btn-xs">否决</a>
                            <!--审核未通过-->
                            <a ng-click="patientView(patient.binglihao)" ng-if="patient.status==-1" class="btn btn-primary btn-xs">查看</a>
                            <a ng-click="auditPass(patient.binglihao)" ng-if="patient.status==-1" class="btn btn-primary btn-xs">通过</a>
                        </td>
                        <!--管理人员-->
                        <td ng-if="user.authority>=3">
                            <a ng-click="patientEdit(patient.binglihao)" class="btn btn-primary btn-xs">编辑</a>
                            <a ng-click="deleteConfirm($index)" class="btn btn-primary btn-xs">删除</a>
                            <!--编辑状态-->
                            <a ng-click="auditApply(patient.binglihao)" ng-if="patient.status==0" class="btn btn-primary btn-xs">提交</a>
                            <!--审核状态-->
                            <a ng-click="auditPass(patient.binglihao)" ng-if="patient.status==1" class="btn btn-primary btn-xs">通过</a>
                            <a ng-click="auditFail(patient.binglihao)" ng-if="patient.status==1" class="btn btn-primary btn-xs">否决</a>
                            <!--审核通过-->
                            <a ng-click="auditFail(patient.binglihao)" ng-if="patient.status==2" class="btn btn-primary btn-xs">否决</a>
                            <!--审核未通过-->
                            <a ng-click="auditPass(patient.binglihao)" ng-if="patient.status==-1" class="btn btn-primary btn-xs">通过</a>
                        </td>

                        <td>
                            {{patient.opstaff}}
                            <span ng-if="patient.optype==0">新建</span>
                            <span ng-if="patient.optype==1">编辑</span>
                            <span ng-if="patient.optype==2">提交</span>
                            <span ng-if="patient.optype==3">撤审</span>
                            <span ng-if="patient.optype==4">通过</span>
                            <span ng-if="patient.optype==5">否决</span>
                            {{patient.optime | date:"yyyy-MM-dd HH:mm"}}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- 删除病历确认框（Modal） -->
<div class="modal fade" id="deleteConfirm" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body text-center">
                <h4>删除后将不可恢复，确认删除该病历？</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deletePatient(deleteIndex)">
                    确认
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    取消
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>