<div class="row">
	<div class="col-lg-12">
		<h5 class="page-header">
			<i class="fa fa-home fa-fw"></i>
			<a ui-sref="patientList">数据管理</a>
			<i class="fa fa-angle-right  fa-fw"></i>
			数据录入
		</h5>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
                编号:{{patient.binglihao}} 医院:{{patient.hospital}} 科别:{{patient.department}} 床号:{{patient.chuanghao}} 姓名:{{patient.name}} 性别:{{patient.sex}} 年龄:{{patient.age}}

				随机分组:{{params.module['group_'+patient.fenzu]}}

                状态:
                <span ng-if="patient.status==0">编辑中</span>
                <span ng-if="patient.status==1">审核中</span>
                <span ng-if="patient.status==2">审核通过</span>
                <span ng-if="patient.status==-1">审核未通过</span>

				<!-- 阑尾炎模块 -->
				<button ng-show="params.moduleID=='appendicitis'" class="btn btn-primary" ng-click="evaluateFlowModal()">评定项具体操作流程</button>

			</div>
			<!-- /.panel-heading -->
			<div class="panel-body">
				<div class="row">
					<!--目录-->
					<div class="col-lg-3 col-md-3">
						<div class="panel panel-primary">
							<div class="panel-heading">
								数据项分类
							</div>
							<div class="panel-body panel-body-ztree">
								<ul id="zTree" class="ztree"></ul>
							</div>
						</div>
					</div>

					<!--表单-->
					<div class="col-lg-9 col-md-9">
						<div class="panel panel-default">
							<div class="panel-body">

								<ui-view></ui-view>

							</div>
						</div>

						<!--按钮组-->
						<div class="row opbtn-group">
							<div class="turn-page col-lg-4">
								<div class="btn-group btn-group-sm">
									<button id="lastPage" class="btn btn-default" ng-click="lastPage()"><i class="fa fa-arrow-left" aria-hidden="true"></i> 上一页</button>
									<button id="nextPage" class="btn btn-default" ng-click="nextPage()">下一页 <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
								</div>
							</div>

							<!--普通人员-->
							<div ng-if="user.authority==0" class="patient-operation col-lg-4 text-center">
							</div>
							<!--录入人员-->
							<div ng-if="user.authority==1" class="patient-operation col-lg-4 text-center">
								<!--编辑状态 && 审核未通过-->
								<div class="operation-group" ng-if="patient.status==0 || patient.status==-1">
									<button class="btn btn-primary" ng-click="deleteConfirm(patient.binglihao)">删除</button>
									<button class="btn btn-primary" ng-click="auditApply(patient.binglihao)">提交</button>
								</div>
								<!--审核中-->
								<div class="operation-group" ng-if="patient.status==1">
									<button class="btn btn-primary" ng-click="auditBack(patient.binglihao)">撤审</button>
								</div>
								<!--审核通过-->
							</div>
							<!--审核人员-->
							<div ng-if="user.authority==2" class="patient-operation col-lg-4 text-center">
								<!--编辑状态-->
								<!--审核中-->
								<div class="operation-group" ng-if="patient.status==1">
									<button class="btn btn-primary" ng-click="auditPass(patient.binglihao)">通过</button>
									<button class="btn btn-primary" ng-click="auditFail(patient.binglihao)">否决</button>
								</div>
								<!--审核通过-->
								<div class="operation-group" ng-if="patient.status==2">
									<button class="btn btn-primary" ng-click="auditFail(patient.binglihao)">否决</button>
								</div>
								<!--审核未通过-->
								<div class="operation-group" ng-if="patient.status==-1">
									<button class="btn btn-primary" ng-click="auditPass(patient.binglihao)">通过</button>
								</div>
							</div>
							<!--管理人员-->
							<div ng-if="user.authority>=3" class="patient-operation col-lg-4 text-center">
								<!--编辑状态-->
								<div class="operation-group" ng-if="patient.status==0">
									<button class="btn btn-primary" ng-click="deleteConfirm(patient.binglihao)">删除</button>
									<button class="btn btn-primary" ng-click="auditApply(patient.binglihao)">提交</button>
								</div>
								<!--审核中-->
								<div class="operation-group" ng-if="patient.status==1">
									<div class="btn btn-primary" ng-click="deleteConfirm(patient.binglihao)">删除</div>
									<div class="btn btn-primary" ng-click="auditPass(patient.binglihao)">通过</div>
									<div class="btn btn-primary" ng-click="auditFail(patient.binglihao)">否决</div>
								</div>
								<!--审核通过-->
								<div class="operation-group" ng-if="patient.status==2">
									<button class="btn btn-primary" ng-click="deleteConfirm(patient.binglihao)">删除</button>
									<button class="btn btn-primary" ng-click="auditFail(patient.binglihao)">否决</button>
								</div>
								<!--审核未通过-->
								<div class="operation-group" ng-if="patient.status==-1">
									<button class="btn btn-primary" ng-click="deleteConfirm(patient.binglihao)">删除</button>
									<button class="btn btn-primary" ng-click="auditPass(patient.binglihao)">通过</button>
								</div>
							</div>

							<div class="turn-patient col-lg-4 ">
								<div class="btn-group btn-group-sm pull-right">
									<button id="lastPatient" class="btn btn-default " ng-click="lastPatient()"><i class="fa fa-arrow-left" aria-hidden="true"></i> 上一个病人</button>
									<button id="nextPatient" class="btn btn-default" ng-click="nextPatient()">下一个病人 <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
            <!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<!-- 删除病历确认框（Modal） -->
<div class="modal fade" id="deleteConfirm" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body text-center">
                <h4>删除后将不可恢复，确认删除该病历？</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deletePatient(deleteBinglihao)">
                    确认
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    取消
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 评定项具体操作流程（Modal） -->
<div class="modal fade" id="evaluateFlow" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4>评定项具体操作流程如下：</h4>
			</div>
			<div class="modal-body text-center">
				<table class="table table-striped table-bordered table-hover" >
					<tbody>
					<thead>
					<th></th>
					<th ng-if="patient.fenzu==1 || patient.fenzu==2">E-group</th>
					<th ng-if="patient.fenzu==1 || patient.fenzu==2">C-group</th>
					</thead>
					<tr>
						<td>术前</td>
						<td ng-if="patient.fenzu==1 || patient.fenzu==2">
							术前按照患儿体重补充适量低糖低张小儿维持液，如合并脱水需注意纠正水电解质失衡；<br/>
							术前静脉应用广谱抗生素（需氧菌+厌氧菌）；<br/>
							术前进行疼痛管理（评分方法见表2及附录3），如评分≥4分患儿应用非甾体类消炎止痛药镇痛；<br/>
							年长儿嘱术前排尿，避免术中应用尿管；<br/>
							术前如无肠梗阻症状，避免上鼻胃管。
						</td>
						<td ng-if="patient.fenzu==1 || patient.fenzu==2">
							术前按照患儿体重补充适量低糖低张小儿维持液，如合并脱水需注意纠正水电解质失衡；<br/>
							术前静脉应用广谱抗生素（需氧菌+厌氧菌）；<br/>
							术前常规上尿管；<br/>
							术前常规上鼻胃管。
						</td>
					</tr>
					<tr>
						<td>术中</td>
						<td ng-if="patient.fenzu==1 || patient.fenzu==2">
							术中所有患儿接受气管插管全身麻醉，严格控制输液量，预防低体温；<br/>
							所有患儿均采用多部位或单部位腹腔镜下阑尾切除+阑尾周围脓肿清除术，术中常规探查并排除合并消化道畸形，如发现其他畸形需根据排除标准考虑是否从本实验中剔除；<br/>
							如合并腹腔局限性脓肿，应仔细清除，避免腹腔冲洗；如合并腹腔内弥漫性脓肿或多发肠间脓肿，可少量甲硝唑生理盐水冲洗，但仍应吸净腹腔内残余液体；腹腔内弥漫性脓肿或多发肠间脓肿时，可视情况留置腹腔引流管，其余常规不留置；<br/>
							如合并阑尾粪石，应全部清除；<br/>
							对于低龄儿或无法配合术前排尿的患儿，可根据术中情况行一次性导尿，手术结束即拔除尿管；<br/>
							术中尽可能减少应用阿片类麻醉药物；<br/>
							术后缝合切口前行切口局部浸润麻醉。
						</td>
						<td ng-if="patient.fenzu==1 || patient.fenzu==2">
							术中所有患儿接受气管插管全身麻醉，严格控制输液量，预防低体温；<br/>
							所有患儿均采用多部位或单部位腹腔镜下阑尾切除+阑尾周围脓肿清除术，术中常规探查并排除合并消化道畸形，如发现其他畸形需根据排除标准考虑是否从本实验中剔除；<br/>
							如合并腹腔内脓肿，应仔细清除；<br/>
							如合并阑尾粪石，应全部清除；<br/>
							如腹腔内有较多渗出性液体，视手术情况可留置腹腔引流管。
						</td>
					</tr>

					<tr>
						<td>术后</td>
						<td ng-if="patient.fenzu==1 || patient.fenzu==2">
							术后患儿严密监控生命体征变化；<br/>
							术后静脉应用广谱抗生素（需氧菌+厌氧菌），直至达到出院标准；<br/>
							术后麻醉清醒后即预防性应用非甾体消炎药镇痛，如疼痛评分≥4分患儿可在初次应用镇痛药后间隔4-6小时重复应用非甾体类消炎药；<br/>
							术后6小时或麻醉清醒后，开始早期下床活动；<br/>
							术前无肠梗阻症状的患儿术后6小时或麻醉清醒后可早期少量饮流食。术前合并肠梗阻症状的患儿可在术后6小时或麻醉清醒后，夹闭鼻胃管，开始试行少量经口或经鼻胃管肠内喂养，如无恶心呕吐，第二天拔除鼻胃管；如无法耐受，可隔天后再次试喂养；<br/>
							留置腹腔引流管的患儿，根据术后腹腔引流情况，引流量明显减少时拔除腹腔引流管；<br/>
							如术后第5天仍然出现持续发热、剧烈腹痛或肠梗阻等症状，复查血液生化指标WBC及CRP及B超或CT、MRI等检查，并根据检查结果行相应治疗。
						</td>
						<td ng-if="patient.fenzu==1 || patient.fenzu==2">
							术后患儿严密监控生命体征变化；<br/>
							术后静脉应用广谱抗生素（需氧菌+厌氧菌），直至达到出院标准；<br/>
							术后证实患儿肠蠕动恢复后，拔除鼻胃管，开始饮流食；<br/>
							术后如疼痛评分≥4分患儿应用非甾体类消炎止痛药镇痛；<br/>
							术后患儿疼痛控制后，鼓励下床活动；<br/>
							术后早期拔除尿管；<br/>
							术后根据腹腔引流情况，引流量明显减少时拔除腹腔引流管；<br/>
							如术后第5天仍然出现持续发热、剧烈腹痛或肠梗阻等症状，复查血液生化指标WBC及CRP及B超或CT、MRI等检查，并根据检查结果行相应治疗。
						</td>
					</tr>
					<tr>
						<td>出院标准</td>
						<td ng-if="patient.fenzu==1 || patient.fenzu==2">
							连续24小时无发热；<br/>
							可正常进食，无恶心呕吐等症状；<br/>
							可自主活动；<br/>
							无明显腹痛，不影响饮食及自主活动；<br/>
							复查血液生化指标WBC正常；<br/>
							无其他需要住院处理的并发症。
						</td>
						<td ng-if="patient.fenzu==1 || patient.fenzu==2">
							连续24小时无发热；<br/>
							可正常进食，无恶心呕吐等症状；<br/>
							可自主活动；<br/>
							无明显腹痛，不影响饮食及自主活动；<br/>
							复查血液生化指标WBC正常；<br/>
							无其他需要住院处理的并发症。
						</td>
					</tr>
					<tr>
						<td>出院医嘱</td>
						<td ng-if="patient.fenzu==1 || patient.fenzu==2">
							非单纯性阑尾炎继续口服广谱抗生素3-5天；<br/>
							如存在任何不适，如腹痛加重，腹胀，伤口裂开，发热或呕吐等症状及时入院检查；<br/>
							术后一月入院随访。
						</td>
						<td ng-if="patient.fenzu==1 || patient.fenzu==2">
							非单纯性阑尾炎继续口服广谱抗生素3-5天；<br/>
							如存在任何不适，如腹痛加重，腹胀，伤口裂开，发热或呕吐等症状及时入院检查；<br/>
							术后一月入院随访。
						</td>
					</tr>
					</tbody>
				</table>

				<div class="face-expression">
					<h4>改良面部表情量表法（适用于≥4岁儿童）：</h4>
					<img src="images/face-expression.jpg"/>
					<p>注：从左至右分别代表疼痛等级，0分没有疼痛，10分非常疼痛</p>
				</div>

				<div class="flacc">
					<h4>FLACC（Face，Legs，Activity，Cry，Consolability）疼痛评分量表（适用于<4岁或沟通不畅的患儿）：</h4>
					<table class="table table-striped table-bordered table-hover" >
						<tbody>
							<!--<thead>-->
								<!--<th></th>-->
								<!--<th></th>-->
								<!--<th></th>-->
							<!--</thead>-->
							<tr>
								<td rowspan="3">面部</td>
								<td>没有特殊表情或微笑</td>
								<td>0</td>
							</tr>
							<tr>
								<td>偶尔痛苦表情/皱眉，孤独或兴趣淡漠</td>
								<td>1</td>
							</tr>
							<tr>
								<td>频繁或持续的下巴颤动</td>
								<td>2</td>
							</tr>
							<tr>
								<td rowspan="3">下肢体位</td>
								<td>正常体位或放松</td>
								<td>0</td>
							</tr>
							<tr>
								<td>不舒适，不安，紧张</td>
								<td>1</td>
							</tr>
							<tr>
								<td>踢腿或蹬腿</td>
								<td>2</td>
							</tr>
							<tr>
								<td rowspan="3">活动</td>
								<td>安静地躺着，正常体位，活动自如</td>
								<td>0</td>
							</tr>
							<tr>
								<td>蠕动，辗转反侧，紧张</td>
								<td>1</td>
							</tr>
							<tr>
								<td>角弓反张</td>
								<td>2</td>
							</tr>
							<tr>
								<td rowspan="3">哭闹</td>
								<td>没有哭闹</td>
								<td>0</td>
							</tr>
							<tr>
								<td>呻吟或啜泣，偶尔抱怨</td>
								<td>1</td>
							</tr>
							<tr>
								<td>不断哭泣，尖叫或呜咽，不断抱怨</td>
								<td>2</td>
							</tr>
							<tr>
								<td rowspan="3">可安慰程度</td>
								<td>满足，放松</td>
								<td>0</td>
							</tr>
							<tr>
								<td>通过不时的抚摸、拥抱或对话可安抚，易分散注意力</td>
								<td>1</td>
							</tr>
							<tr>
								<td>很难安慰或安抚</td>
								<td>2</td>
							</tr>
							<tr>
								<td>总分</td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">

			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>