<div class="row">
	<div class="col-lg-3 col-lg-offset-7 col-md-4 col-md-offset-6">
		<div class="login-panel panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">用户注册</h3>
			</div>
			<div class="panel-body">
				<form id="register" name="registerForm" ng-submit="submitForm()" role="form">
					<fieldset>
						<!--错误提示-->
						<div class="error">{{registerResult}}</div>

						<!--账号-->
						<div class="form-group" ng-class="registerForm.username.$dirty && (registerForm.username.$error.required || registerForm.username.$error.pattern) ? 'has-error':''">
							<label for="username">
								账号：
								<span class="error" ng-show="registerForm.username.$dirty && registerForm.username.$error.pattern">用户名不合法！</span>
								<span class="error" ng-show="registerForm.username.$dirty && registerForm.username.$error.required">请填写此字段！</span>
							</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
								<input class="form-control" placeholder="请输入账号" id="username" name="username" type="text" ng-model="register.username" autocomplete="username" required="required" ng-pattern="/^[A-Za-z0-9_\-\u4e00-\u9fa5]+$/" autofocus>
							</div>
						</div>

						<!--密码-->
						<div class="form-group" ng-class="registerForm.password.$dirty && registerForm.password.$error.required ? 'has-error':''">
							<label for="password">
								密码：
								<span class="error" ng-show="registerForm.password.$dirty && registerForm.password.$error.required">请填写此字段！</span>
							</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
								<input class="form-control" placeholder="请输入密码" id="password" name="password" type="password" ng-model="register.password" autocomplete="new-password" required="required">
							</div>
						</div>

						<!--确认密码-->
						<div class="form-group" ng-class="registerForm.confirmPassword.$dirty && registerForm.confirmPassword.$error.required ? 'has-error':''">
							<label for="confirmPassword">
								确认密码：
								<span class="error" ng-show="registerForm.confirmPassword.$dirty && registerForm.confirmPassword.$error.required">请填写此字段！</span>
								<span class="error" ng-show="registerForm.confirmPassword.$dirty && !registerForm.confirmPassword.$error.required && registerForm.confirmPassword.$error.pwdmatch">两次密码输入不一致！</span>
							</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
								<input class="form-control" placeholder="确认密码" id="confirmPassword" name="confirmPassword" type="password" ng-model="register.confirmPassword" compare-pwd="password" autocomplete="new-password" required="required">
							</div>
						</div>

						<!--邮箱-->
						<div class="form-group" ng-class="registerForm.email.$dirty && (registerForm.email.$error.required || registerForm.email.$error.pattern) ? 'has-error':''">
							<label for="email">
								邮箱：
								<span class="error" ng-show="registerForm.email.$dirty && registerForm.email.$error.pattern">邮箱不合法！</span>
								<span class="error" ng-show="registerForm.email.$dirty && registerForm.email.$error.required">请填写此字段！</span>
							</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
								<input class="form-control" placeholder="请输入邮箱" id="email" name="email" type="email" ng-model="register.email" required="required" ng-pattern="/^\w[-\w.+]*@([A-Za-z0-9][-A-Za-z0-9]+\.)+[A-Za-z]{2,14}$/" autofocus>
							</div>
						</div>

						<!--手机号-->
						<div class="form-group" ng-class="registerForm.phone.$dirty && (registerForm.phone.$error.required || registerForm.phone.$error.pattern) ? 'has-error':''">
							<label for="phone">
								手机号：
								<span class="error" ng-show="registerForm.phone.$dirty && registerForm.phone.$error.pattern">手机号不合法！</span>
								<span class="error" ng-show="registerForm.phone.$dirty && registerForm.phone.$error.required">请填写此字段！</span>
							</label>
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
								<input class="form-control" placeholder="请输入手机号" id="phone" name="phone" type="text" ng-model="register.phone" required="required" ng-pattern="/^0?(13|14|15|17|18|19)[0-9]{9}$/" autofocus>
							</div>
						</div>

						<div class="form-group">
							<label for="authority">权限：</label>
							<select class="form-control" id="authority" name="authority" ng-model="register.authority" ng-init="register.authority='0'" required>
								<option value="0">普通人员</option>
								<option value="1">录入人员</option>
								<option value="2">审核人员</option>
								<option value="3">管理人员</option>
							</select>
						</div>

						<div class="form-group text-center button">
							<!--<button class="btn btn-primary col-lg-4" type="submit">注册</button>-->
							<button class="btn btn-primary col-lg-4" type="submit" ng-disabled="registerForm.$invalid">注册</button>
							<button class="btn btn-primary col-lg-4" ng-click="cancel()">取消</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					提示
				</h4>
			</div>
			<div class="modal-body">
				<b>注册成功！</b>即将为您跳转到<a ui-sref="login">登录</a>页面！
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
