<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<root>
  <module>
    <name>阑尾炎ERAS模块</name>
    <id>appendicitis</id>
    <hospital>华中科技大学附属同济医院</hospital>
    <department>小儿外科</department>
    <administrator>朱天琦</administrator>
    <description/>
    <group_1>实验组</group_1>
    <group_2>对照组</group_2>
  </module>
  <module>
    <name>巨结肠ERAS模块</name>
    <id>megacolon</id>
    <hospital>华中科技大学附属同济医院</hospital>
    <department>小儿外科</department>
    <administrator>朱天琦</administrator>
    <description/>
    <group_1>新型吻合组</group_1>
    <group_2>非新型吻合组</group_2>
  </module>
  <module>
    <name>巨结肠心形吻合模块</name>
    <id>cardioidAnastomosis</id>
    <hospital>华中科技大学附属同济医院</hospital>
    <department>小儿外科</department>
    <administrator>朱天琦</administrator>
    <description/>
    <group_1>心形吻合组</group_1>
    <group_2>非心形吻合组</group_2>
  </module>
  <module>
    <name>巨结肠营养支持模块</name>
    <hospital>华中科技大学附属同济医院</hospital>
    <department>小儿外科</department>
    <administrator>朱天琦</administrator>
    <id>jujiechangyingyangzhichimokuai</id>
    <description/>
  </module>
</root>