<div class="row">
    <div class="col-lg-12">
        <h5 class="page-header">
            <i class="fa fa-home fa-fw"></i>
            <a ui-sref="dataItemManage">数据项管理</a>
            <i class="fa fa-angle-right  fa-fw"></i>
            模块管理
        </h5>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span style="line-height: 34px;">模块列表</span>
                <div class="tools">
                    <a ng-click="toNewModule()" class="btn btn-primary " ng-if="user.authority>=3"><i class="menu-icon fa fa-plus-square"></i> 创建模块</a>
                    <button ng-click="refresh()" class="btn btn-primary "><i class="fa fa-refresh" aria-hidden="true"></i> 刷新</button>
                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="moduleList">
                    <thead>
                    <tr>
                        <th>模块名称</th>
                        <th>牵头医院</th>
                        <th>所在科室</th>
                        <th>负责人</th>
                        <!--<th>模块描述</th>-->
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="module in moduleList track by $index">
                        <td>{{module.name}}</td>
                        <td>{{module.hospital}}</td>
                        <td>{{module.department}}</td>
                        <td>{{module.administrator}}</td>
                        <!--<td>{{project.description}}</td>-->

                        <td ng-if="user.authority<3">无权限</td>
                        <!--管理人员-->
                        <td ng-if="user.authority>=3">
                            <a ng-click="moduleEdit($index)" class="btn btn-primary btn-xs">编辑</a>
                            <a ng-click="moduleDelete($index)" class="btn btn-primary btn-xs">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
